// Paleta base
$bg-black: #242424;
$bg-white: #f3f3f3;
$text-black: #000000;
$text-white: #ffffff;

// Azul de destaque
$primary-blue: #1e90ff;
$primary-blue-dark: #187bcd;
$primary-blue-darker: #1464a5;
$secondary-blue: #4cafef;