/*
  Este é o documento de estilo padrão para o sistema,
  nele, serão encontrados estilos que serão compartilhados
  entre todos os componentes da aplicação.
*/

/* FONTE: ROBOTO */
/* Variáveis do SASS */
@use "./variables";
@use "./themes";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
	font: {
		family: Roboto, Helvetica, sans-serif;
		weight: 400;
		synthesis: none;
		line-height: 1.5;
	}

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--bg-color);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 
  A :root acima se refere ao elemento ao qual o React
  vai ser construído, basicamente, por padrão, refere-se
  ao body (se não me engano), já o #root abaixo é o
  elemento em sí, onde o site vai ser construído
*/
#root {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	padding: 0;
	margin: 0;

	color: var(--text-color);
	background-color: var(--bg-color);
}

/*
  O código abaixo fica responsável por mudar as cores,
  estilos e etc dos elementos de acordo com a preferencia
  de tema do cliente do usuário.
*/
